.project
*.prefs
*.classpath
/target/*
tkc-invoker-core/target/
tkc-invoker-lib/target/
tkc-invoker-provider/target/
tkc-invoker-restful/target/
tkc-invoker-restful/.settings/org.eclipse.wst.common.project.facet.core.xml
tkc-invoker-lib/.factorypath
