.project
*.prefs
*.classpath
/target/*
redchain-invoker-core/target/
redchain-invoker-lib/target/
redchain-invoker-provider/target/
redchain-invoker-restful/target/
redchain-invoker-restful/.settings/org.eclipse.wst.common.project.facet.core.xml
redchain-invoker-lib/.factorypath
